@import '../../styles/settings.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loginForm {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  width: 500px;
  padding: 20px;
  border: 2px solid $color-success;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: $color-dark;
}

.loginHeading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}